
<footer class="footer">
    <div class="container text-center">
      <p>&copy;<span id="currentYear"></span> Kamlesh Singh Mahar | All Rights Reserved</p>
    </div>
  </footer>
  
  <script>
    
    document.getElementById('currentYear').textContent = new Date().getFullYear();
  </script>